
.heading {
    z-index: -1000;
    pointer-events: none;

}
* {
    box-sizing: border-box;
}


.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 33.33%;
    display: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: var(--bg-secondary);
    padding: 10px;
}

.show {
    display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: var(--bg-primary);
    cursor: pointer;
    color: var(--text-primary);
}

.btn:hover {
    filter: grayscale(0%) opacity(1);

    background-color: var(--bg-secondary);
}

.btn.active {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.btn.active:hover {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
}


@media only screen and (min-width: 600px) {

    div.heading img {
        width: 100%;
        height: auto;
        margin-left: -65px;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 600px) {



    div.heading img {
        width: 100%;
        height: auto;
    }
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
}