


@media only screen and (min-width: 600px) {

    div.gallery {
        margin-left: auto;
        margin-right: auto;
        width: auto;
        max-width: 700px;

    }


    div.gallery img {
        width: 100%;
        height: auto;
    }


}

@media only screen and (max-width: 600px) {


    div.gallery {
        margin-left: auto;
        margin-right: auto;
        width: auto;
        max-width: 700px;
    }



    div.gallery img {
        width: 100%;
        height: auto;
    }
}

#rtx3090 {
    padding-bottom: 50px;
}

.desc{
    padding-bottom: 50px;
    text-align: center;
}

