

@media only screen and (min-width: 600px) {
    .newest {
        border: var(--text-secondary);
        border-top: 1px solid;
        border-right: 0px;
        border-bottom: 0px;
        border-left: 0px;

        width: fit-content;

        max-width: 1000px;
    }

    div.gallery {
        float: left;
        width: 500px;
    }


    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.gallery img {
        float: left;
        width: 500px;
    }

    div.HeadingVideo {
        width: auto;
        height: auto;
        margin-left: -65px;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    #rtxDark{
        width: 120%;
    }
    #rtxWhite
    {
        width: 110%;
        margin-left: -25px;
    }

}

@media only screen and (max-width: 600px) {
    .newest {
        border: var(--text-secondary);
        border-top: 1px solid;
        border-right: 0px;
        border-bottom: 0px;
        border-left: 0px;

        width: fit-content;

        max-width: 500px;
    }

    div.gallery {
        float: left;
        width: 500px;

    }


    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.HeadingVideo {
        float: left;
        width: 110%;
        margin-left: -30px;

    }



    div.HeadingVideo video {
        width: 100%;
        height: auto;
    }
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
}

img {
    padding-bottom: 50px;

}

.desc {
    padding-bottom: 50px;
}

video {
    z-index: -100;
    margin-top: -17px;
    pointer-events: none;

}

.heading {
    z-index: -1000;
    pointer-events: none;

}



* {
    box-sizing: border-box;
}


.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 33.33%;
    display: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: var(--bg-secondary);
    padding: 10px;
}

.show {
    display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: var(--bg-primary);
    cursor: pointer;
    color: var(--text-primary);
}

.btn:hover {
    filter: grayscale(0%) opacity(1);

    background-color: var(--bg-secondary);
}

.btn.active {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.btn.active:hover {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
}

#HeadingVideoDark{
    display: inline;

}

#HeadingVideoLight{
    display: none;
}