@media only screen and (min-width: 600px) {
    .newest {
        border: var(--text-secondary);
        border-top: 1px solid;
        border-right: 0px;
        border-bottom: 0px;
        border-left: 0px;

        width: fit-content;

        max-width: 1000px;
    }

    div.gallery {
        float: left;
        width: 500px;
    }


    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.gallery img {
        float: left;
        width: 500px;
    }

    div.HeadingVideo {
        width: 100%;
        height: auto;
        margin-left: -65px;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 600px) {
    .newest {
        border: var(--text-secondary);
        border-top: 1px solid;
        border-right: 0px;
        border-bottom: 0px;
        border-left: 0px;

        width: fit-content;

        max-width: 500px;
    }

    div.gallery {
        float: left;
        width: 500px;

    }


    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.HeadingVideo {
        float: left;
        width: 110%;
        margin-left: -30px;

    }



    div.HeadingVideo video {
        width: 100%;
        height: auto;
    }
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
}

#rtx3090 {
    padding-bottom: 50px;
}

.desc {
    padding-bottom: 50px;
}

video {
    z-index: -100;
    margin-top: -17px;
    pointer-events: none;

}

.heading {
    z-index: -1000;
    pointer-events: none;

}
